* {
  margin: 0;
  padding: 0;
  color: #2c2c2c;
}

ul,li {
  list-style: none;
}

button {
  width: 100px;
  height: 5vh;
  max-height: 30px;
  background-color: #fe6914;
  /*rgb(133, 93, 205);*/
  color: white;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 3px;
  border-style: none;
  border-radius: 2px;
  outline: none;
}

button:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: none;
  transform: translateY(4px);
}

input {
  border-style: none;
  border: 1px solid grey;
  width: 200px;
  height: 5vh;
  max-height: 30px;
  border-radius: 5px;
  /*border-bottom: 1px solid #dcdcdc;*/
  font-size: 20px;
  text-indent: 5px;
}

input:focus {
  outline: none;
}

.Login {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20vh;
  padding-left: 18vw;
  background: #fe6914;
}

#login-logo {
  display: block;
  height: 25px;
  padding: 20px;
}

#login-pic {
  display: block;
  width: 40vw;
  height: 40vh;
}

.Login section {
  display: flex;
}

.Login main {
  width: 18vw;
  padding: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login header {
  font-size: 1.8rem;
  color: grey;
  padding: 1rem 0;
}

.Login input {
  width: 90%;
  margin: 10px 0;
}

.Login button {
  width: 90%;
  height: 40px;
  max-height: 40px;
  margin-top: 30px;
  letter-spacing: 15px;
  font-size: 20px;
}


.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  width: calc(100% - 80px);
  background: #3b3b3b;
  height: 10vh;
  max-height: 100px;
  color: white;
}

.Body {
  display: flex;
  height: 90vh;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  width: 130px;
  border-right: 1px solid #dcdcdc;
}

.Sidebar li {
  display: flex;
}

.Sidebar li:hover {
  color: white;
  background: #d0d5e0;
}

.Sidebar a {
  text-align: center;
  padding: 3vh 0;
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
}

.Sidebar a.active {
  color: #fe6914;
}

.MainContent {
  padding: 8px;
  width: calc(100% - 146px);
  background-color: rgba(0, 0, 0, 0.1);
}

.ContentHeader {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  max-height: 80px;
  padding: 0 30px;
  align-items: center;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: white;
}

.Searchbar input {
  /*border-style: none;*/
  width: 200px;
  height: 5vh;
  max-height: 30px;
  border-radius: 5px;
  /*border-bottom: 1px solid #dcdcdc;*/
  font-size: 20px;
  text-indent: 5px;
}

.CompletedFilter {
  position: relative;
  width: 9vw;
  display: flex;
  flex-direction: column;
}

.CompletedFilter header {
  text-indent: 1vw;
  height: 2.6vh;
  border-bottom: 1px dotted grey;
}

.CompletedFilter header:hover {
  color: #55CFDE;
}

.CompletedFilter header img {
  position: absolute;
  right: 0.5vw;
  top: 1vh;
  height: 1.1vh;
}

.CompletedFilter section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 5vh;
  width: 7vw;
  height: 10vh;
  background: white;
  border: 1px solid grey;
  box-shadow: 0 2px 2px grey;
}

.CompletedFilter section div {
  padding: 0 1vw;
}

.CompletedFilter section div:hover {

  background: rgba(0, 0, 0, 0.1);
}

.ContentTable {
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid #dcdcdc;
  background-color: white;
}

.TableHeader {
  height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #fe6914;
}

.TableHeader li {
  width: 13%;
  text-align: center;
  /*border: 1px solid;*/
}

.TableHeader li:first-child {
  flex-shrink: 0;
  width: 3rem;
}

.TableHeader li:last-child {
  flex-shrink: 0;
  width: 15rem;
}

.ScrollWrapper {
  width: 100%;
  height: calc(83vh - 75px);
  overflow: auto;
}

table {
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tr {
  display: flex;
  justify-content: flex-start;
  /*align-items: center;*/
  line-height: 3rem;
  height: 3rem;
  border-bottom: 1px solid #dcdcdc;
}

td {
  width: 13%;
  text-align: center;
  /*border: 1px solid;*/
}

td:first-child {
  width: 3rem;
  background-image: url('../../static/check.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

td:first-child.completed {
  background-image: url('../../static/check-hover.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

td:last-child {
  width: 15rem;
  flex-grow: 1;
  text-align: left;
  text-indent: 1rem;
}

td input {
  font-size: 1rem;
  border-style: none;
  border: 1px solid white;
}

td input:focus {
  border: 1px solid grey;
}

.LoadingScreen {
  height: 100%;
  width: 100%;
  padding: 5vh 5vw;
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  background: white;
}
